<div class="page-header titles">
    <h1>Cardholders</h1>
    <p>Manage your cardholders and their transactions</p>
</div>

<div class="grid-header header-actions">
  <button mat-raised-button color="primary" (click)="addCardholder()">Add Cardholder</button>
</div>

<div class="cardholder-grid-container">
  <table mat-table [dataSource]="cardholders" class="mat-elevation-z2 w-full">
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="editCardholder(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteCardholder(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container *ngFor="let field of fields" [matColumnDef]="field.key">
      <th mat-header-cell *matHeaderCellDef>
        <ng-container [ngSwitch]="field.key">

          <ng-container *ngSwitchCase="'transactionCount'">
            <span (click)="onSortTransactionCount()" style="cursor:pointer; user-select:none">
              {{ field.label }}
              <mat-icon style="vertical-align: middle;">
                {{ sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
              </mat-icon>
            </span>
          </ng-container>

          <ng-container *ngSwitchDefault>{{ field.label }}</ng-container>
        </ng-container>
      </th>

      <td mat-cell *matCellDef="let element">
        {{ element[field.key] }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 50]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
